.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  width: 97%;
  @media (max-width: 991px) {
    margin-bottom: 30px;
    width: 100%;
  }
}

.label {
  font-style: italic;
  font-size: 26px;
  margin-bottom: 10px;
  @media (max-width: 991px) {
  font-size: 16px;
  }
}

.textarea {
  min-height: 40px;
  height: auto;
  max-height: 200px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  @media (max-width: 991px) {
    font-size: 14px;
    min-height: 30px;
    }
}

.textarea::-webkit-scrollbar {
  width: 8px;
}

.textarea::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.527);
  border-radius: 30px;
}

.err {
  font-size: 16px;
  color: brown;
  margin-top: 4px;
}
