.container {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  position: relative;
  @media (max-width:620px) {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.button {
  outline: none;
  height: 50px;
  text-align: center;
  width: 350px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #dfd3ca;
  color: #ccc0b6;
  letter-spacing: 1px;
  text-shadow: 0;
  cursor: pointer;
  transition: all 0.25s ease;
  font-size: 20px;
  font-weight: 700;
  @media (max-width:620px) {
    width: 100%;
    max-width: 350px;
    font-size: 16px;
  }
}
.button:hover {
  color: white;
  background: #dfd3ca;
}
.button:active {
  letter-spacing: 2px;
  letter-spacing: 2px;
}

.button:after {
  content: "Отправить анкету";
}

.onclick {
  height: 50px;
  width: 50px;
  border-color: #dfd3ca;
  border-width: 3px;
  font-size: 0;
  border-left-color: #dfd3ca;
  animation: rotating 2s 0.25s linear infinite;
}

.onclick:hover {
  background-color: white;
}

.onclic:after {
  content: "";
}

.sent {
  font-size: 13px;
  color: white;
  background: #dfd3ca;
  width: 150px;
}
.sent:after {
  content: "\2713";
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
